@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100..900&display=swap');

/* font-family: "IBM Plex Sans JP", sans-serif; */
/* font-family: "Noto Sans KR", sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #86A4FF;
  --sub-03: #ABA8FF;
  --grad-01: #D6D6FF;
  --grad-03: #ABE2FB;
  --gradient-bg: linear-gradient(135deg, var(--grad-01), var(--main-color), var(--grad-03));
  --text-gray: #808080;
  --B-color: #333;
  --w-color: #fff;
  --Noto-Sans: "Noto Sans KR", sans-serif;
  --IBM-Plex-Sans: "IBM Plex Sans JP", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #d2b5ff, #c1c5ff);
  /* 보라색 배경 */
  z-index: 0;
}

.white_fill {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1;
  pointer-events: none;
}

.sapce_text_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  /* 처음에는 안 보이게 */
  color: #808080;
  font-family: var(--Noto-Sans);
  font-size: 80px;
  font-weight: 400;
  text-align: center;
}

.sapce_text_wrapper .highlight {
  color: var(--main-color);
  font-weight: 700;
}

.mask-wrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  text-align: center;
  z-index: 3;
  opacity: 0;
  /* 처음에는 보이지 않게 */
}

.left {
  left: 0;
  /* 왼쪽에 배치 */
}

.right {
  right: 0;
  /* 오른쪽에 배치 */
}

.space_dots_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
}

.dot_space {
  width: 10px;
  height: 10px;
  background: var(--main-color);
  border-radius: 50%;
  position: absolute;
}

.space_dot1 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.space_dot2 {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.new-fill {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  /* 기존 크기를 유지 */
  height: 200px;
  border: 1px solid var(--main-color);
  /* 1px 테두리 */
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  pointer-events: none;
  box-sizing: border-box;
  /* 테두리의 두께를 포함 */
}

.next-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  /* 처음에는 안 보이게 */
  color: #808080;
  font-family: var(--Noto-Sans);
  font-size: 70px;
  font-weight: 200;
  text-align: center;
}

.next-wrapper span {
  font-weight: 600;
  /* background: var(--main-color); */
}

.background2 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: #ABA8FF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.line-draw-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 48px;
  z-index: 50;
  pointer-events: none;
  align-items: flex-end;
}

.draw_path {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  align-items: flex-end;
}

.wave-group {
  transform: translateY(100%); /* 처음엔 아래로 숨김 */
  opacity: 0;
  transform-box: fill-box;
  transform-origin: bottom center;
}


.wave-fill-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 48px;
  z-index: 60;
  align-items: flex-end;
  pointer-events: none;
  opacity: 0;
}

.wave-fill {
  overflow: visible;
  /* 잘리지 않게 */
  position: relative;
}

.wave {
  transform: translateY(100%);
  transform-origin: bottom center;
  transition: transform 0.3s ease;
}

.water_wave {
  transform: translateY(100%); /* 아래 숨기기 */
  transform-box: fill-box;
  transform-origin: bottom center;
  width: 200%;
  opacity: 0;
  will-change: transform;
}

.water_wave_back {
  right: 0;
  fill: #FFFFFF;
  animation: wave-back 1.4s infinite linear;
  opacity: .5;
}

.water_wave_front {
  left: 0;
  fill: #FFFFFF;
  animation: wave-front 0.7s infinite linear;
}

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}















.project {
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 15;
}

.left_bg {
  position: absolute;
  left: -442px;
  top: -149px;
}

.pagenation {
  width: 88px;
  height: 6px;
  background: var(--w-color);
  position: absolute;
  left: 294px;
  top: 580px;
}

.project_gnb ul {
  display: flex;
  position: absolute;
  left: 294px;
  bottom: 180px;
  gap: 27px;
}

.project_gnb ul li {
  align-content: flex-end;
  justify-content: center;
}

.project_gnb ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_gnb ul li a h5 {
  padding-top: 20px;
  text-align: center;
  color: var(--w-color);
  font-weight: 400;
  font-size: 18px;
}

.project_gnb ul li:first-child a h5 {
  padding-top: 10px;
  color: var(--w-color);
  font-weight: 600;
  font-size: 28px;
}

.right_bg {
  position: absolute;
  right: -700px;
  top: -750px;
}

.tit {
  position: absolute;
  left: 294px;
  top: 325px;
}

.tit h3 {
  font-family: var(--IBM-Plex-Sans);
  color: var(--w-color);
  font-size: 80px;
  line-height: 110px;
  font-weight: 300;
}

.tit p {
  font-weight: 500;
}

.project_con {
  position: absolute;
  right: 330px;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project_con li {
  width: 517px;
  height: 656px;
  border: 2px solid var(--w-color);
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.project_con li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}


.top {
  width: 477px;
  height: 140px;
  border-bottom: 2px solid var(--w-color);
  display: flex;
  justify-content: space-between;
}

.txt {
  color: var(--w-color);
  font-family: var(--IBM-Plex-Sans);
  align-items: center;
}

.txt h4 {
  font-size: 30px;
  font-weight: 300;
}

.txt p {
  font-size: 70px;
  font-weight: 500;
  margin-top: 20px;
}

.project_img {
  position: absolute;
  left: 0;
  top: 152px;
}

.btn {
  position: absolute;
  left: 25px;
  bottom: 20px;
}

.prototype {
  width: 130px;
  height: 30px;
  background: var(--w-color);
  border-radius: 130px;
  color: #008CFF;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
}

.Landing {
  width: 130px;
  height: 30px;
  background: var(--w-color);
  border-radius: 130px;
  color: #008CFF;
  text-align: center;
  line-height: 30px;
  margin-top: 15px;
  font-weight: 500;
}